aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
anyio==4.6.0
asgiref==3.8.1
attrs==24.2.0
basemap==1.4.1
basemap-data==1.3.2
cairocffi==1.7.1
CairoSVG==2.7.1
Cartopy==0.23.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
contourpy==1.3.0
cssselect2==0.7.0
cycler==0.12.1
defusedxml==0.7.1
Django==5.1.1
fonttools==4.54.1
frozenlist==1.4.1
geopandas==1.0.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
kiwisolver==1.4.7
matplotlib==3.8.4
multidict==6.1.0
numpy==1.26.4
packaging==23.2
pandas==2.2.3
pillow==10.4.0
propcache==0.2.0
pycparser==2.22
pyfont==0.0.3.20041618
pyfonts==0.0.2
pyogrio==0.9.0
pyparsing==3.1.4
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
shapely==2.0.6
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.1
tinycss2==1.3.0
tzdata==2024.2
urllib3==2.2.3
webencodings==0.5.1
yarl==1.15.3
